@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


nav {
    display: flex;
    margin: 15px;
    padding: 10px;
    border: 3px solid #484745;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
}
nav h1{
    color: mediumvioletred;

    margin-top: 20px;
    margin-left: 2.5vw;
    margin-bottom: 20px;
    font-size: 30px;
    transition: 0.5s;
}
nav h1:hover{
    scale:120%;
}
nav .navR{
    align-items: center;
    display: flex;
    margin-right: 3vw;
    gap: 3vw;
}
nav .navR a{
    color: #c8c6c5;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}
nav .navR a:hover{
    scale:120%
}

.foot{
    display: flex;
    margin: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.foot .socials{
    display: flex;
    margin: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

body, footer, html{
    font-family: 'DM Mono', serif;
    background-color: #181a1b;
    color: #c8c6c5;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-top: 0;
}

html{
    scroll-behavior: smooth ;
}